$blackColor: #000;
$whiteColor: #fff;
$orangColor: #ef7f65;
$darckBlueColor: #15354b;
$grayColor: #506270;
$babyBlueColor: #80E0DD;
$lightBabyBlueColor: #EFF8FF;

%trans_4 {
  transition: 0.4s all ease-in-out;
}
